/************
COLORS USED:
#000;
#222;
#444;
#666;
#999;
#CCC; 
#DDD;
#EEE;
darkblue
royalblue
********/

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans');

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/************
DEFAULT STYLE
*************/

* {
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #EEE;
    margin: 0;
}

h1,
h2,
h3 {
    line-height: 1.5;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
    transform: translateY(0.5rem);
}

h2 {
    padding: 0 0 0.5rem 0;
    color: cornflowerblue;
    letter-spacing: 6px;
}

ul {
    padding: 0;
    list-style: none;
}

a:link,
a:visited,
a:active {
    color: #FFF;
}

a:hover {
    color: #CCC
}



/***************
SETTING MARGINS: 
****************/

h1:first-child,
h2:first-child,
main p:first-child,
footer p:first-child {
    margin: 0 0 1rem 0;
}

p:last-child,
header p:last-child {
    margin: 1rem 0 0 0;
}

h2 {
    line-height: 4rem;
    border-bottom: 1px solid #CCC;
    -webkit-mask-image: url(https://dl.dropbox.com/s/u92nd5fpuatesd0/mask.png?dl=0);
    -o-mask-image: url(https://dl.dropbox.com/s/u92nd5fpuatesd0/mask.png?dl=0);
    -moz-mask-image: url(https://dl.dropbox.com/s/u92nd5fpuatesd0/mask.png?dl=0);
    mask-image: url(https://dl.dropbox.com/s/u92nd5fpuatesd0/mask.png?dl=0);
}

h2::first-letter {
    font-size: 4rem;
    
}

.box {
    min-width: 28rem;
    max-width: 60rem;
    margin: 0 2rem;
}

/*FORM*/

form {
    margin-top: 2rem;
}

.bg-header .box input {
    border: 1px solid transparent;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
}

.bg-header .box input[type="email"] {
    margin: 0 0.5rem 0 0;
}

.bg-header .box input[type="submit"] {
    background-color: goldenrod;
    padding: 0.5rem 1rem;
}

.bg-header .box,
.bg-main-intro .box,
.bg-footer .box {
    padding: 4rem 2rem;
}

.bg-main-content .box {
    padding: 2rem 2rem 0 2rem;
    color: #666;
}

.bg-main-content .box:last-child {
    padding: 2rem;
}

header {
    font-size: 1rem;
}

.bg-main-intro .box:first-child {
    font-family: "Droid Serif", serif;
    font-size: 1rem;
}

.bg-header {
    background-image: url(../img/bg-masthead.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    background-color: darkblue;
    background-blend-mode: multiply;
}

.bg-main-intro {
    background-color: royalblue;
    color: #EEE;
}

.bg-main-intro .box-wrapper {}

.bg-footer {
    background-color: #EEE;
    color: #666;
}

.bg-footer .source a {
    color: #666;
}

.bg-footer .source a:hover {
    color: #CCC;
}

#tag-line {
    -webkit-mask-image: url(https://dl.dropbox.com/s/u92nd5fpuatesd0/mask.png?dl=0);
    -o-mask-image: url(https://dl.dropbox.com/s/u92nd5fpuatesd0/mask.png?dl=0);
    -moz-mask-image: url(https://dl.dropbox.com/s/u92nd5fpuatesd0/mask.png?dl=0);
    mask-image: url(https://dl.dropbox.com/s/u92nd5fpuatesd0/mask.png?dl=0);
}


@media screen and (min-width: 35rem) {

    #tag-line {
        font-size: 4rem;
    }

    body {
        font-size: 1rem;
    }

    h2 {
        line-height: 6rem;
    }

    h2::first-letter {
        font-size: 6rem;
    }

    .bg-main-content .box:first-child {
        padding: 4rem 2rem 2rem 2rem;
    }
}


@media screen and (min-width: 50rem) {
    body,
    header,
    .bg-main-intro .box:first-child {
        font-size: 1.25rem;
    }

    #tag-line {
        font-size: 6rem;
    }
    
    h2 {
        line-height: 8rem;
    }

    h2::first-letter {
        font-size: 8rem;
    }

    .box {
        width: 100%;
        margin: 0 auto;
    }

    .bg-main-intro .box p {
        font-size: 2rem;
    }

    .bg-main-content .box {
        padding: 4rem 4rem 0 4rem;
    }

    .bg-header .box,
    .bg-main-intro .box,
    .bg-footer .box {
        padding: 4rem;
    }

    .bg-main-content .box:first-child {
        padding: 8rem 4rem 4rem 4rem;
    }

    .bg-main-content .box:last-child {
        padding: 4rem;
    }

    /*FORM*/
    form {
        margin-top: 3rem;
    }

    .bg-header .box input {
        padding: 1rem;
        font-size: 1.25rem;
        border-radius: 4px;
    }

    .bg-header .box input[type="email"] {
        margin: 0 1rem 0 0;
    }

    .bg-header .box input[type="submit"] {
        background-color: goldenrod;
        padding: 1rem 2rem;
    }
}
